@charset "utf-8";

body{
background-color:mediumapuamarine;
}

#gnav li{
 overflow:hidden; 
}

#gnav li{
float:left;
  width:156px;
  border-right:white 1px soild;
  list-style-type:none;
}

#gnav li:first-child{
border-left:white 1px solid;
}

.breadcrumbs li{
  display:inline;
  list-style-type:none;
}

.breadcrumbs li:befor{
content:">";
}

.breadcrumbs li:first-cihld:before{
content:"";
}
